<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ProjetoIntegrador</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <mapping class="model.Estado"/>
    <mapping class="model.Cidade"/>
    <mapping class="model.PessoaJuridica"/>
    <mapping class="model.ItensPedidoId"/>
    <mapping class="model.Pessoa"/>
    <mapping class="model.Produto"/>
    <mapping class="model.Estoque"/>
    <mapping class="model.MovimentacaoFinancId"/>
    <mapping class="model.FormaPagamento"/>
    <mapping class="model.MovimentacaoFinanc"/>
    <mapping class="model.EstoqueId"/>
    <mapping class="model.ItensPedido"/>
    <mapping class="model.Cargos"/>
    <mapping class="model.Pedido"/>
    <mapping class="model.Usuario"/>
    <mapping class="model.Funcionario"/>
    <mapping class="model.Unidade"/>
    <mapping class="model.util.limpaCampos"/>
    <mapping class="model.util.unit"/>
    <mapping class="model.util.Validacao"/>
    <mapping class="model.util.Formatacao"/>
    <mapping class="model.util.Criptografia"/>
    <mapping class="model.util.ComboItens"/>
    <mapping class="model.dao.MasterDAO"/>
    <mapping class="model.dao.UsuarioDAO"/>
    <mapping class="model.dao.IDAO_T"/>
  </session-factory>
</hibernate-configuration>
